<!-- MOBILE OVERLAY -->
<div
  *ngIf="isOpen"
  class="fixed inset-0 bg-black/40 z-40 lg:hidden"
    (click)="sidebarService.close()">
</div>

<!-- SIDEBAR -->
<aside
  class="
    fixed inset-y-0 left-0 
    w-[300px]
    md:w-[280px]
    bg-primary
    text-white
    flex flex-col
     z-[2147483646]
    transform transition-transform duration-300
    -translate-x-full       
    lg:translate-x-0        
  "
  [class.translate-x-0]="isOpen"
>


  <!-- SCROLLABLE CONTENT -->
  <div class="flex-1 overflow-y-auto px-2 py-4 sidebar-scroll z-50">

    <!-- LOGO -->
    <div class="flex items-center gap-3 mb-4 px-1">
      <img src="public/loanly12254-qais-200w.png" class="h-10" />
      <span class="text-2xl font-bold">Loanly</span>
    </div>

    <!-- MENU -->
    <nav class="space-y-2">

      <a
        routerLink="/dashboard"
        routerLinkActive="bg-[#2A4FA3]"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="sidebarService.close()"
        class="flex items-center gap-4 px-6 py-4 rounded-2xl">
        <img src="/public/analytics.png" class="h-6" />
        <span>Dashboard</span>
      </a>

      <a
        routerLink="/onboarding"
        routerLinkActive="bg-indigo-500"
        (click)="sidebarService.close()"
        class="flex items-center gap-4 px-6 py-4 rounded-2xl">
        <img src="public/vector2252-a33o.svg" class="h-6" />
        <span>Onboarding</span>
      </a>

      <a
        routerLink="/credit-notes"
        routerLinkActive="bg-indigo-500"
        (click)="sidebarService.close()"
        class="flex items-center gap-4 px-6 py-4 rounded-2xl">
        <img src="public/outlinenotesclipboardtext2252-5yam.svg" class="h-6" />
        <span>Credit Notes</span>
      </a>

      <a
        routerLink="/disbursement"
        routerLinkActive="bg-[#2A4FA3]"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="sidebarService.close()"
        class="flex items-center gap-4 px-6 py-4 rounded-2xl">
        <img src="public/outlinehandshandmoney2254-0me4.svg" class="h-6" />
        <span>Disbursement</span>
      </a>

      <a
        routerLink="/recovery"
        routerLinkActive="bg-indigo-500"
        (click)="sidebarService.close()"
        class="flex items-center gap-4 px-6 py-4 rounded-2xl">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="1.8"
          viewBox="0 0 24 24">
          <path d="M12 1v22" />
          <path d="M5 12h14" />
        </svg>
        <span>Recovery</span>
      </a>

      <a
        routerLink="/admin"
        routerLinkActive="bg-indigo-500"
        (click)="sidebarService.close()"
        class="flex items-center gap-4 px-6 py-4 rounded-2xl">
        <img src="public/iconsanslinearusercircle22253-jk3.svg" class="h-6" />
        <span>Admin</span>
      </a>

      <a
        routerLink="/setup"
        routerLinkActive="bg-indigo-500"
        (click)="sidebarService.close()"
        class="flex items-center gap-4 px-6 py-4 rounded-2xl">
        <img src="public/mdicogoutline2253-i0p.svg" class="h-6" />
        <span>Setup</span>
      </a>

      <a
        class="flex items-center gap-4 px-6 py-4 hover:text-indigo-500">
        <img src="public/union2254-dwoj.svg" class="h-6" />
        <span>Sign Out</span>
      </a>

    </nav>
  </div>
</aside>
