.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.sidebar {
    background: linear-gradient(
     90deg,
        #0B1E4A 0%,
        #142F6B 35%,
        #1A357A 65%,
        #2A4FA3 100%
    );
}
